################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/Money-management-and-file-storage/v15/.suo
/.vs
